:root {
    --title-color: #34313d;
    --text-color: #9e9aa8;
    --text-secondary-color: #fff;
    --button--bg: #2bd0d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100%;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    background-color: #fff;
    color: var(--text-color);
}

.container {
    max-width: 1148px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Button */
.button {
    border: 0;
    padding: 8px 23px;
    border-radius: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--button--bg);
    color: var(--text-secondary-color);
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.button--big {
    padding: 18px 40px 16px;
}

.button--rectangle {
    border-radius: 5px;
    min-width: 103px;
}

.button--rectangle-big {
    border-radius: 10px;
}

img {
    display: block;
}

/* AUTOFILL - STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}


/* PLACEHOLDER COLOR */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(52, 49, 61);
    opacity: 1;
}


/* Header */
.site-header__container {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 40px;
}

.site-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__left {
    display: flex;
    justify-content: start;
    align-items: center;
}

.site-header__main-link{
    width: 120px;
    height: 33px;
    margin-right: 40px;
}

.site-header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.site-header__item {
    list-style: none;
}

.site-header__item:not(:last-child) {
    margin-right: 30px;
}

.site-header__link {
    font-weight: 700;
}

.site-header__link:hover {
    color: var(--title-color);
}

.site-header__link:active {
    opacity: 0.8;
}

.site-header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}

.site-header__login {
    display: block;
    margin-right: 20px;
    font-weight: bold;
}

.site-header__login:hover {
    color: var(--title-color);
}

.site-header__signup {
    display: block;
    font-weight: bold;
}


/* Main */
.main-content {
    flex-grow: 1;
}

/* Hero */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: 482px;
    margin-bottom: 200px;
    background-image: url(../img/working_with_computer.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 476px) top 1px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__main {
    display: block;
    flex-direction: column;
}

.hero__title {
    margin-top: 100px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 80px;
    line-height: 90px;
    color: var(--title-color);
}

.her__text {
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 22px;
}

.hero__button {
    padding: 15px 30px;
}


/* FORM WRAPPER */
.form-wrapper {
    position: relative;
    background-color: #eff1f7;
}

.form-wrapper__inner {
    display: flex;
    justify-content: center;
}

.form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 1110px;
    height: 168px;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    padding: 52px 64px;
    background-image: url(../img/Path.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.form__input-wrapper {
    width: 100%;
}

.form__input {
    max-width: 769px;
    width: 100%;
    height: 64px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border: 0;
}

.form__submit {
    max-width: 188px;
    height: 64px;
    padding: 8px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.form__input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
    color: red;
}

.form__error-msg {
    display: none;
}


.form__input:not(:focus):not(:placeholder-shown):invalid ~ .form__error-msg {
    display: block;
    font-style: italic;
    letter-spacing: 0.11px;
    color: rgb(255, 126, 126);
}



.form-wrapper__inner-results {
    display: none;
    width: 100%;
    margin-top: 108px;
}

.form-wrapper__inner-results-open {
    display: block;
}

.form-wrapper__inner-result {
    display: flex;
    align-items: center;
    padding: 18px 32px;
    border-radius: 5px;
    background-color: #fff;
}

.form-wrapper__inner-result:not(:last-child) {
    margin-bottom: 16px;
}

.form-wrapper__orginal-link {
    width: 100%;
    margin-right: 24px;
    font-size: 20px;
    letter-spacing: 0.15px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--title-color);
}

.form-wrapper__short-link {
    margin-right: 24px;
    font-size: 20px;
    color: var(--button--bg);
}

.form-wrapper__copy-button--copied {
    background-color: #3a3054;
}


/* Statistic */
.statistic {
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
}

.statistic-container {
    text-align: center;
}

.statistic__title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -1px;
    color: var(--title-color);
}

.statistic__text {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.12px;
}

/* .statistic__line {
    position: absolute;
    width: 800px;
    height: 10px;
    margin-top: 152px;
    border: 0;
    background-color: #2bd0d0;
} */

.statistic-blok {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 120px;
}

.statistic-blok::before {
    position: absolute;
    width: 100%;
    height: 8px;
    margin-top: 152px;
    border-radius: 5px;
    background-color: #2bd0d0;
    content: "";
}

.statistic-blok__content {
    position: relative;
    width: 350px;
    height: 267px;
    padding: 77px 32px 41px;
    text-align: left;
    border-radius: 5px;
    background-color: var(--text-secondary-color);
}


.statistic-blok__logo {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #3a3054;
}

.statistic-blok__img {
    display: block;
    width: 44px;
    height: 44px;
    transform: translate(50%, 50%);
    background: transparent;
}

.statistic-blok__title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 12px;
    color: var(--title-color);
}

.records {
    margin-top: 44px;
}

.customize {
    margin-top: 88px;
}


/* Main link */
.main-link {
    width: 100%;
    height: 250px;
    background-image: url(../img/footer-fon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-link__blok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-blok {
    padding: 57px 0;
}

.link-blok__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    color: var(--text-secondary-color);
}

.link-blok__button {
    display: block;
    padding: 14px 40px 12px;
}

/* Footer */
.footer {
    padding: 71px 0 72px;
    background-color: #000;
}

.footer-container {
    display: flex;
}

.footer__logo {
    width: 44px;
    margin-top: 0;
    margin-right: 261px;
    color: #fff;
}
.footer__img {
    display: block;
}

.footer-service {
    display: flex;
}

.footer-service__content {
    display: flex;
    justify-content: space-between;
    margin-right: 101px;
}

.footer-service__blok:not(:last-child) {
    margin-right: 78px;
}

.footer-service__blok-title {
    margin-top: 0;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: normal;
    letter-spacing: -0.25px;
    color: var(--text-secondary-color);
}

.footer-service__blok-list {
    list-style: none;
}

.footer-service__blok-link {
    letter-spacing: -0.23px;
}

.footer-service__blok-link:hover {
    color: var(--button--bg);
}

.footer-service__blok-link:active {
    opacity: 0.8;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
}

.socials__link {
    display: block;
}

.socials__link:not(:last-child) {
    margin-right: 25px;
}

.socials__link:hover {
    color: var(--button--bg);
}

.socials__img {
    display: block;
    width: 24px;
    height: 24px;
}

.socials__img:hover {
    background-color: var(--button--bg);
    color: var(--button--bg);
}